/* Styles de la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
@font-face {
    font-family: 'Roboto Slab VariableFont';
     src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(3, 3, 3, 0.712), rgba(0, 0, 0, 0.712)), url(pictures/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hr-container {
    margin-top: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorful-hr {
    border: none;
    height: 3px;
    background-color: #FFFFFF;
    width: 20%;
    height: 6px;
    border-radius: 3px;
    margin: 0 5px;
}
.hr-container span {
    margin: 6rem;
}
.hr-container p {
    font-family: 'Roboto Slab VariableFont', sans-serif;
    color: white;
    font-size: 42px;
}
/* Navbar Start */
nav {
    margin-top: 1rem;
    padding: 10px;
    width: 98%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    color: whitesmoke;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.logo a {
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    color: whitesmoke;
}
.logo-primary {
    color: #e89b00;
}
.logo-secondary {
    color: #133052;
}
.links a {
    margin: 0 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 26px;
}
.links a.active {
    color: #ffffff;
}
.auth .login-button {
    display: inline-block;
    padding: 1rem 1.8rem;
    border-radius: 39px;
    background-color: #e89b00;
    color: #ffffff;
    font-size: 26px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.auth .login-button:hover {
    background-color: #ffffff;
    color: #e89b00;
}
/* End Navbar */
/* Drawer Start */
#sidebar {
    display: none;
    position: fixed;
    width: 150px;
    background: rgb(232, 155, 0);
    background: radial-gradient(circle, rgba(232, 155, 0, 0.6979166666666667) 0%, rgba(19, 48, 82, 0.9051995798319328) 0%);
    left: -300px;
    transition: .4s;
    z-index: 200;
    top: 0;
    overflow-y: hidden;
}

#sidebar.active {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 200px;
    overflow-y: hidden;
}

.sidebar-content {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    /* Réduire la hauteur pour laisser de l'espace pour le bouton */
}

#sidebar ul {
    padding: 0;
    margin-top: 8rem;
    /* Marge entre le haut du conteneur et la liste */
}

#sidebar ul li {
    list-style: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 2rem;
    line-height: 2rem;
    text-align: left;
    overflow-y: hidden;
    margin-top: 2rem;
    /* Marge entre les éléments de la liste */
}
#sidebar .toggle-btn {
    position: fixed;
    top: 30px;
    left: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: #c5b9b9;
    display: block;
    margin-top: 4px;
}
/* Drawer End */
div.slogan {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
    width: 60rem;
    height: 5rem;
    text-align: center;
    font-size: 42px;
    color: whitesmoke;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.highlighted-text {
    color: #E89B00;
    display: inline-block;
    line-height: 4rem;
    height: 1em;
}
.container {
    margin-top: 4%;
    margin-left: 28%;
    width: 40%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 80vh;
}
.wrapper {
    width: 65%;
    height: 65%;

}
.banner-image {
    background-image: url(pictures/grav.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255);
    background-color: #151030;
}
#projet {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
#projeto {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.button-wrapper {
    margin-top: 18px;
}
.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
}
.btn+.btn {
    margin-left: 10px;
    font-size: 19px;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
    font-size: 19px;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}
.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}
.fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
}
#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#popupContent {
    position: relative;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
iframe {
    width: 100%;
    height: 400px;
    border: none;
}
#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
#closeButton img {
    margin-top: 1rem;
    width: 40px;
    height: 40px;
}



@media (max-width: 320px) {


    li {
        text-decoration: none;
    }
    nav .navbar {
        display: none;
    }
    #sidebar {
        display: block;
        position: fixed;
    }
    .links a {
        display: none;
    }
    div.slogan {
        display: block;
        margin-top: 9rem;
        margin-left: 6px;
        width: 100%;
        text-align: center;
        font-size: 80%;
        color: whitesmoke;
        font-family: 'Roboto Slab VariableFont', sans-serif;
        line-height: 2;
            /* Ajuster la hauteur de ligne à un nombre approprié */
    }
    
    .highlighted-text {
        color: #E89B00;
        display: inline;
        line-height: inherit;
            /* Hérite de la hauteur de ligne du parent */
    }
    .auth .login-button {
    display: inline-block;
    margin-top: 2rem;
    font-size: 18px;
    margin-left: 1rem;
}
.hr-container p {
    font-size: 26px;
}

}