@font-face {
    font-family: 'Roboto Slab VariableFont';
    src: url('fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(3, 3, 3, 0.712), rgba(0, 0, 0, 0.712)), url(../pictures/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hr-container {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorful-hr {
    border: none;
    height: 3px;
    background-color: #FFFFFF;
    width: 16%;
    height: 3px;
    border-radius: 1px;
    margin: 0 5px;
}
.hr-container span {
    margin: 3rem;
}
.hr-container p {
    font-family: 'Roboto Slab VariableFont', sans-serif;
    color: white;
    font-size: 34px;
}
nav {

    margin-top: 1rem;
    padding: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left a {
    margin-left: 1rem;
    margin-right: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.center a {
    margin: 0 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 26px;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.right .login-button {
    display: inline-block;
    padding: 1rem 1.8rem;
    margin-right: 2rem;
    border-radius: 39px;
    background-color: #e89b00;
    color: #ffffff;
    font-size: 26px;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.right .login-button:hover {
    background-color: #ffffff;
    color: #e89b00;


}
.profil {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 5rem;
    margin-left: 6rem;
    background-color: #102844c7;
    width: 636px;
    height: 236px;
    border-radius: 26px;
    position: relative;
}
.pdp {
    background-color: green;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    align-self: center;
    overflow: hidden;
    display: flex;
    margin-left: 18px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.description {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto Slab VariableFont', sans-serif;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.grade {
    position: relative;
    margin-left: -8.7rem;
    top: 0.7rem;
    color: rgba(179, 178, 178, 0.808);
    font-family: 'Roboto Slab VariableFont', sans-serif;
}
.aka {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto Slab VariableFont', sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}
.aka1 {
    font-size: 15px;
    color: rgba(153, 153, 153, 0.747);
}
.profil p {
    margin-left: 3rem;
    margin-top: -5px;
    font-family: 'Roboto Slab VariableFont', sans-serif;
    font-weight: bold;
}
.favicons {
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}
.favicons img {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
}